/*

filename: lab04

author: Duc Duy

created: 10/8/2026

last modified: 10/8/2026

description: lab01.html files it refers to (if known)]

*/
h1 { 
    color: purple; 
    font-size: 2em; 
    font-weight: bold; 
}

ul>p {
    color: red;
}
h2{
    color:rgb(0,128,128);
    font-style: bold;
    font-size: 1.5rem;
    
}

nav a {
    text-decoration: none;
    padding:0.2em 0.6em;
    border: 4px solid #ccc;
}

ol ul {
    list-style: square;
}


hr {
    border: 2px solid black;
}

#images {
    text-align : center;
}

.special {
    color:darkorange;
    font-weight: bold;
}

.month {
    text-align: right;
}

a:hover {
    background-color: lightblue;
    border-color: darkblue;
}
* { font-family: calibri, sans-serif; }  
* {color: #2F4F4F;}
aside, footer { font-style: italic; }
h1, h2, h3 {font-style: arial;}
table, th, td {border: 1px solid black;}
